.row > svg {
    display: block;
    width: 10%;
}

.alingleft {
    float: left;
    height: 10%;
    margin: 3%;
    position: relative;
    width: 18%;
}


@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .row > svg {
        display: block;
        width: 10%;
    }

    .alingleft {
        float: left;
        height: 20%;
        margin: 3%;
        position: relative;
        width: 40%;
    }
}